[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
urllib3 = "==1.26.6"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
